/* Estilos para las palabras flotantes tipo barcos */

.item {
  transform: lastic(0.8, 1.2);
}

.item:hover {
  animation-play-state: paused !important;
  z-index: 20;
}

.rightAnimate {
  animation: float 20s linear infinite;
}

/* Navegación por abajo del logo */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(2deg) translateX(0px) translateY(0px);
  }
  20% {
    transform: translateY(6px) rotate(-1deg) translateX(7px) translateY(5px);
  }
  40% {
    transform: translateY(3px) rotate(1.5deg) translateX(10px) translateY(3px);
  }
  60% {
    transform: translateY(5px) rotate(-0.5deg) translateX(5px) translateY(4px);
  }
  80% {
    transform: translateY(4px) rotate(1deg) translateX(-5px) translateY(2px);
  }
  100% {
    transform: translateY(0px) rotate(2deg) translateX(0px) translateY(0px);
  }
}
